* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    font-family: 'Montserrat', sans-serif !important;
}

/* antd override */
input {
    border-radius: 2px !important;
    border: 1px solid rgba(128, 128, 128, 0.521) !important;
    height: 40px !important;
}

input:focus,
.ant-picker {
    outline: none !important;
    box-shadow: none !important;
    border: 1px solid gray !important;
}

label {
    font-size: 16px !important;
    color: black !important;
}

.ant-form-item {
    margin: 10px 0 !important;
    ;
}

.ant-picker-input input {
    border: none !important;
}

.ant-picker {
    border-radius: 2px !important;
    border: 1px solid rgba(128, 128, 128, 0.521) !important;
    height: 40px !important;
}

/* Common styling */
.form-btn {
    width: 250px !important;
    margin-top: 30px !important;
}